/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPS */
:root{
    --site-font: "Roboto", "Arial", sans-serif;
    --gold-color: #c8a35f;
    --dark-color: #2f343a;
    --white-color: #fff;
    --linear-dark-color: #393f47;
}

/* GLOBAL STYLES */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 1px dashed var(--gold-color);
    outline-offset: 2px;
}
html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--site-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white-color);
    background-color: var(--dark-color);
    position: relative;
}
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}
/* HR STYLES */
.main-hr {
    width: 90px;
    height: 6px;
    border: none;
    background-color: var(--gold-color);
    margin-bottom: 4rem;
}
/* MAIN TITLE STYLES */
.main-titles {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.25;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


/* SITE HEADER STYLES */
.site-header {
    position: relative;
    z-index: 1000;
    background-color: var(--dark-color);
}

/* SITE HEADER TOP STYLES */
.site-header__top {
    background-color: var(--gold-color);
    padding: 1.6rem 0;
}
.site-header__top *:focus {
    --gold-color: var(--dark-color);
}
.site-header__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lang-toggler {
    display: flex;
    align-items: center;
    list-style: none;
}
.lang-toggler__item:not(:last-child) {
    margin-right: 1rem;
}
.lang-toggler__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.16;
    color: var(--white-color);
    opacity: 0.5;
}
.lang-toggler__active {
    opacity: 1;
}
.lang-toggler__link:hover {
    color: var(--linear-dark-color);
}
.site-header__tel-number,
.site-header__email {
    font-size: 1.2rem;
    line-height: 1.16;
}

/* SITE HEADER BOTTOM STYLES */
.site-header__bottom {
    padding: 2.7rem 0;
}
.site-header__container {
    display: flex;
    align-items: center;
}
.site-header__bottom-brands {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.site-logo {
    display: flex;
    margin-right: 3rem;
}
.site-logo__img {
    display: block;
    object-fit: contain;
}
.site-header__line {
    border: none;
    background-color: #f2f2f2;
    width: 1px;
    height: 46px;
    margin-right: 3rem;
}
.site-header__location {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.17;
    letter-spacing: 0.7px;
    text-decoration: none;
    color: var(--white-color);
}
.site-header__location-inner {
    display: flex;
    align-items:center;
}
.site-header__location-inner::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../images/svg/geo-placeholder.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 1rem;
}
.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child) {
    margin-right: 3rem;
}
.nav__link {
    font-size: 1.4rem;
    line-height: 1.17;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
}
.nav__link:hover {
    color: var(--gold-color);
}
.burger-btn {
    display: none;
}
.flow-navbar {
    position: absolute;
    background-color: var(--linear-dark-color);
    width: 100%;
    padding: 2rem;
    text-align: center;
    top: 156px;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    display: none;
}
.burger-btn,
.flow-navbar__close {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.burger-btn img,
.flow-navbar__close img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}
.flow-navbar__add {
    transform: translateY(0%);
    transition: transform 0.5s ease;
}
.flow-navbar__remove {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}
.hidden {
    display: none !important;
}


/* SITE MAIN STYLES */
.site-main {
    flex-grow: 1;
}

/* INTRO SECTION */
.intro-section {
    background-image: url("../images/jpg/intro-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 15.5rem;
    padding-bottom: 22rem;
    position: relative;
}
.intro-section__content {
    border: solid 1px var(--gold-color);
    width: 100%;
    max-width: 920px;
    padding: 4.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.intro-section__title {
    font-weight: 700;
    font-size: 6.4rem;
    letter-spacing: 0.05em;
    line-height: 1.2;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
    margin-top: 0;
}
.intro-section__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    max-width: 777px;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
}
.intro-section__mouse-icon {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* TRUCKS SECTION STYLES */
.trucks-section {
    padding: 12rem 0 13rem;
    background-image: linear-gradient(to right, var(--linear-dark-color)36.5%, rgba(0,0,0,0)36.5% 63.5%, var(--linear-dark-color)63.5%);
}
.trucks-section__container {
    display: flex;
    align-items: center;
}
.trucks-section__left {
    width: 100%;
    max-width: 445px;
    margin-right: 3rem;
}
.trucks-section__left-title {
    margin-bottom: 3rem;
}
.trucks-section__left-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}
.trucks-section__btn {
    padding: 1.8rem 4.8rem;
    background-color: var(--gold-color);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--white-color);
    display: inline-block;
}
.trucks-section__right {
    display: flex;
    align-items: center;
}
.trucks-section__right-img {
    width: 445px;
    height: 266px;
    object-fit: contain;
    object-position: left;
    margin-right: 3rem;
}
.trucks-section__right-arrows {
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trucks-section__right-arrow {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: var(--gold-color);
    cursor: pointer;
}
.trucks-section__right-arrow-inner {
    display: flex;
}
.trucks-section__right-arrow:first-child
.trucks-section__right-arrow-inner::after {
    content: "";
    width: 6.5rem;
    height: 2rem;
    margin-left: 3rem;
    background-image: url("../images/png/arrow-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.trucks-section__right-arrow:last-child
.trucks-section__right-arrow-inner::before {
    content: "";
    width: 6.5rem;
    height: 2rem;
    margin-right: 3rem;
    background-image: url("../images/png/arrow-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* MEDIA QUERIES SITE RESPONSIVS */
@media only screen and (max-width: 1200px) {
    .trucks-section__right-img {
        width: 70%;
        height: auto;
        margin-right: 0;
    }
}

@media only screen and (max-width: 992px) {
    nav {
        display: none;
    }
    .flow-navbar {
        display: flex;
    }
    .burger-btn {
        display: block;
    }
    .nav__list {
        flex-direction: column;
    }
    .nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .intro-section {
        padding-top: 14rem;
        padding-bottom: 19rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .intro-section__content {
        display: inline-flex;
        flex-direction: column;
        padding: 4.5rem 0;
    }
    .intro-section__title {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
    .intro-section__text {
        font-size: 1.6rem;
        max-width: 90%;
    }

    .trucks-section__left-title {
        font-size: 3.5rem;
    }
    .trucks-section__right-img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .trucks-section__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trucks-section__right-arrows {
        height: auto;
        flex-direction: row-reverse;
    }
    .trucks-section__right-arrow:first-child {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 55%;
    }
    .flow-navbar {
        top: 142px;
    }
    .trucks-section__container {
        flex-direction: column;
        align-items: center;
    }
    .trucks-section__left {
        margin-right: 0;
        text-align: center;
        margin-bottom: 4rem;
    }
    .trucks-section__left-hr {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 50%;
    }
    .site-header__bottom-brands {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: auto;
    }
    .site-logo {
        margin-bottom: 1rem;
    }
    .site-header__line {
        width: 90%;
        height: 1px;
        margin-bottom: 1rem;
    }
    .flow-navbar {
        top: 171px;
    }
    .flow-navbar__add {
        transition: transform 0.5s ease;
    }
}

@media only screen and (max-width: 450px) {
    .trucks-section__right-arrow:first-child
.trucks-section__right-arrow-inner::after {
    width: 4rem;
    height: 2rem;
    margin-left: 1rem;
}
.trucks-section__right-arrow:last-child
.trucks-section__right-arrow-inner::before {
    width: 4rem;
    height: 2rem;
    margin-right: 1rem;
}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .intro-section {
        background-image: url("../images/jpg/intro-bg-img@2x.jpg");
    }
}